<!DOCTYPE html>
<html>
<head>
  <title>MyNewApp</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Welcome to Get Musical</h1>
  <h2>Buy musical instruments and props here</h2>
<%= yield %>

  <%= javascript_include_tag '//code.jquery.com/jquery-1.11.2.min.js' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= javascript_include_tag :application, 'data-turbolinks-track' => true %>
</body>
</html>
